<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sphider/Public/home/css/bootstrap.min.css" type="text/css">
  <script src="/sphider/Public/home/js/jquery.min.js"></script>
  <script src="/sphider/Public/home/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/sphider/Public/home/css/index.css" type="text/css" />
</head>

<body>

  <div class="head">
    <div class="header">
      <header style="-webkit-box-shadow:1px 1px 1px black;
                      -moz-box-shadow:1px 1px 1px black;">
        <nav class="navbar navbart" style="height:60px;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="#">
              <img src="/sphider/public/home/img/color.png" style="width:35px;height:35px"/>
              <!-- GetData -->
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a style="color:#fff;" onmouseover="this.style.cssText='color:#fff;background:transparent!important;'" onmouseout="this.style.cssText='color:#fff'">GetData</a></li>
              <li><a href="#" style="font-size:15px;color:#fff;" onmouseover="this.style.cssText='color:#fff;background:transparent!important;font-size:20px;'" onmouseout="this.style.cssText='color:#fff;background:transparent!important;'">首页 <span class="sr-only">(current)</span></a></li>
              <li><a href="#" style="font-size:15px;color:#fff" onmouseover="this.style.cssText='color:#fff;background:transparent!important;font-size:20px;'" onmouseout="this.style.cssText='color:#fff;background:transparent!important;'">Link</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li>
                <a data-toggle="modal" href="javascript:void(0)" onclick="show('login_div')" style="font-size:15px;color:#fff" onmouseover="this.style.cssText='color:#fff;font-size:20px;background:transparent!important;'" onmouseout="this.style.cssText='color:#fff;background:transparent!important;'">
                <img src="/sphider/public/home/img/person.png" style="width:25px;height:25px"/>登录
              </a>
              </li>
              <li><a href="javascript:void(0)" onclick="show('register_div')" style="font-size:15px;color:#fff" onmouseover="this.style.cssText='color:#fff;font-size:20px;background:transparent!important;'" onmouseout="this.style.cssText='color:#fff;background:transparent!important;'">注册</a></li>

                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" onmouseover="this.style.cssText='color:#fff;background:transparent!important;'"onmouseout="this.style.cssText='color:white'">关于我们 <b class="caret"></b></a>
                  <ul class="dropdown-menu" style="min-width: 4px; ">
                    <li ><a id="action-1" href="#">联系我们</a></li>
                    <li><a target="_top" href="/sphider/index.php/home/index/index">退出</a></li>
                  </ul>

              </li> -->


            </ul>
          </div>
        </div>
      </nav>
     </header>
    </div>
    <div id="oMask"></div>
    <div id="login_div" style="position:absolute;right:0;left:0; margin:auto">
      <div id="close"><a href="javascript:void(0)" onclick="hide('login_div')" style="color:#fff"> X</a></div>

      <div id="login">
        <form action="index.php/Home/Index/login" method="post" class="form-horizontal" role="form" style="width:550px;"><!--这个form是登陆页面的-->

          <div class="form-group">

            <label for="firstname" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10" style="width:200px">
              <input type="text" name="name" class="form-control" id="firstname" placeholder="请输入用户名" style="width:200px">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10" style="width:200px">
              <input type="password" name="password" class="form-control" id="lastname" placeholder="请输入密码" style="width:200px">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="width:200px">
              <div class="checkbox">
                <label>
					<input type="checkbox"> 请记住我
				</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">登录</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div id="register_div" style="position:absolute;left:0;right:0;margin:auto">
      <div id="close"><a href="javascript:void(0)" onclick="hide('register_div')" style="color:#fff"> X</a></div>

      <div id="register" >
        <form action = "index.php/Home/Index/register" method="post" class="form-horizontal" role="form" style="width:550px;"> <!--这个是注册页面的form-->

          <div class="form-group">

            <label for="firstname" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10" style="width:200px">
              <input type="text" class="form-control" name="name" id="firstname" placeholder="请输入用户名" style="width:200px">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10" style="width:200px">
              <input type="password" name="password" class="form-control"  id="lastname" placeholder="请输入密码" style="width:200px">
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10" style="width:200px">
              <input type="text" name="phone" class="form-control" id="number" placeholder="请输入手机号" style="width:200px">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="width:200px">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">注册</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="head_content">


      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:500px">

        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <div class="head_content_top_one">
              Get information
            </div>
            <div class="head_content_content">
              大数据时代，让我们对自己的信息进行保护吧。
            </div>
          </div>

          <div class="item">
            <div class="head_content_top_two">
              Get information
            </div>
            <div class="head_content_content">
              大数据时代，让我们对自己的信息进行保护吧。
            </div>
          </div>

          <div class="item">
            <div class="head_content_top_three">
              Get information
            </div>
            <div class="head_content_content">
              大数据时代，让我们对自己的信息进行保护吧。
            </div>
          </div>

        </div>


      </div>

      <!-- <div class="content" name="content" id="content" href="content">
    <div class="content_first">
      <div class="content_first_left">

      </div>
      <div class="content_first_right">
        清楚的了解到淘宝上的个人信息
      </div>
      </div>
    </div>
    <div class="content_second">

    </div> -->
      <!-- </div> -->


      <div class="footer">


        <div class="footer_left">
          Get Information
        </div>
        <div class="footer_right">

          <table class="table table" style="margin:0 auto;">
            <tr>
              <th style="width:900px;height:50px">关于</th>
              <th style="width:900px;height:50px">联系方式</th>
              <th style="width:900px;height:50px">赞助商</th>
            </tr>
            <tr>
              <td style="height:50px">关于我们</td>
              <td style="height:50px">767499214@qq.com</td>
              <td style="height:50px"></td>
            </tr>
            <tr>
              <td style="height:50px">广告合作</td>
              <td style="height:50px"></td>
              <td style="height:50px"></td>
            </tr>
          </table>


        </div>
      </div>
      <script>
        function show(tag) {
          var login = document.getElementById(tag);
          var oMask = document.getElementById('oMask');
          login.style.display = 'block';
          oMask.style.display = 'block';
        }

        function hide(tag) {
          var tag = document.getElementById(tag);
          var oMask = document.getElementById('oMask');
          tag.style.display = 'none';
          oMask.style.display = 'none';
        }
      </script>

</body>

</html>
