<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="stylesheet" href="/sphider/Public/home/css/registerpage.css" type="text/css">
</head>
<body>
    <div id="register_left">

    </div>
    <div id="register_center">
        <div id="center_top">
            <p>基本信息</p>

        </div>
        <hr/>
        <div id="center_bottom">
            <form id="info_form" action="index.php/Home/Index/doregesiterpage"method="POST" >
               <label type="text">头&nbsp&nbsp&nbsp像:</label><img src="/sphider/public/home/img/color.png" style="width:100px;"/>
                <input  type="file" value="更换头像" accept="image/*" /><br><br>
                <label type="text">手机号&nbsp:</label><input type="tel" placeholder="请输入手机号"/><br><br>
                <label type="text">邮&nbsp&nbsp&nbsp&nbsp箱:</label><input type="email" placeholder="请输入邮箱"/><br><br>
                <lable type="text">性&nbsp&nbsp&nbsp&nbsp别:</lable><input type="radio" value="保密" checked="checked"/>保密<input type="radio" value="男"/>男<input type="radio" value="女"/>女
                    <br>
                <br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="submit" value="保存" style="background-color: #00ff80;color:#fff;text-align: center;"/>
            </form>
        </div>
    </div>
    <div id="register_right">

    </div>
</body>
</html>