<!DOCTYPE html>
<html>
<head>

</head>
<body >
<div class="table-responsive table_div" >
<table class="table table-hover" >
	<caption class="jing_caption" >{$Think.session.mg_username}京东订单展示</caption>
	<thead>
	<tr>
		<td style="width:50px"></td>
		<td class="product_name">产品名称</td>
		<td class="product_time">下单日期</td>
		<td class="product_money"> 订单金额</td>
		<td class="product_number">订单号</td>
		<td class="product_type">订单类别</td>
		<td class="delete"></td>
	</tr>
	</thead>
	<volist name="list" id="list"><!--volist name 是模板赋值变量名，在controler里定义， id是循环变量，可以随意指定-->
	<tbody>
		<tr class="active">
			<if condition="$list.source_id eq 0">
			 <td style="width:50px;">{$list.id}</td>
			<td class="product_name">{$list.name}</td>
			<td class="product_time">{$list.dealtime}</td>
			<td class="product_money">{$list.money_thing}</td>
			<td class="product_number">{$list.order_id}</td>
			<td class="product_type">{$list|count}</td>
			<td  class="delete">

				<button type="button" class="btn btn-link"  onclick="del(this)">删除</button>

			</td>
		</if>
		</tr>
	</tbody>
	</volist>
</table>
</div>
<div id="footer_jing">
	<ul style="list-style:none;font-size:18px">
	<li class="ul_li"><a href="#">&lt;</a></li>
	<li class="ul_li"><a href="#">1</a></li>
	<li class="ul_li"><a href="#">2</a></li>
	<li class="ul_li"><a href="#">3</a></li>
	<li class="ul_li"><a href="#">4</a></li>
	<li class="ul_li"><a href="#">5</a></li>
	<li class="ul_li"><a href="#">&gt;</a></li>
</ul>
</div>
</body>
</html>
