<html>

<head>

  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sphider/Public/home/css/info.css" type="text/css">
  <link rel="stylesheet" href="/sphider/Public/home/css/bootstrap.min.css">
  <script src="/sphider/Public/home/js/jquery.min.js"></script>
  <script src="/sphider/Public/home/js/bootstrap.min.js"></script>
</head>

<body>


  <div class="head">
    <nav class="navbar navbar" role="navigation" >
      <div class="container-fluid" style="height:90px">
        <div class="navbar-header">
          <a class="navbar-brand" style="color:#fff;font-size:25px">GetData</a>
        </div>
        <ul class="nav navbar-nav navbar-right">


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onmouseover="this.style.cssText='color:#fff;background:transparent!important;'"onmouseout="this.style.cssText='color:white'">users<b class="caret"></b></a>
            <ul class="dropdown-menu" style="min-width: 4px; ">
              <li ><a id="action-1" href="#">设置</a></li>
              <li><a target="_top" href="/sphider/index.php/home/index/index">退出</a></li>
            </ul>
          </li>
          <!-- <li >
            <a href="#" >
            <button type="button" class="btn btn-default btn-lg" style="background-color:#5ED5D1;border-color:#5ED5D1;">
  	           <span class="glyphicon glyphicon-user"></span> User
             </button>
           </a>
          </li> -->

          <li>
            <a href="/sphider/index.php/home/index/index" style="color:#fff" onmouseover="this.style.cssText='color:#fff;background:transparent!important;'"onmouseout="this.style.cssText='color:white'">
           退出
          </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>


</body>

</html>
