<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/sphider/Public/home/css/bootstrap.min.css">
  <link rel="stylesheet" href="/sphider/Public/home/css/bootstrap.css">
  <link rel="stylesheet" href="/sphider/Public/home/css/info.css" >
  <script src="/sphider/Public/home/js/jquery-1.10.2.js"></script>
  <script src="/sphider/Public/home/js/jquery.min.js"></script>
  <script src="/sphider/Public/home/js/bootstrap.min.js"></script>
  <script src="/sphider/public/home/js/echarts.min.js"></script>
  <script src="/sphider/public/home/js/show.js"></script>
  <script src="/sphider/public/home/js/info.js"></script>
</head>
<body>
  <div id="head">
    <nav class="navbar navbar header_nar" role="navigation" >
      <div class="container-fluid" onloadedmetadata="">
        <div class="navbar-header">
          <p style="font-size:25px;color:#ff6e97;" >GetInformation</p>
        </div>
        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" onmouseover="this.style.cssText='color:#fff;background:transparent!important;'" onmouseout="this.style.cssText='color:#fff;background:transparent!important'" style="color:#fff">{$Think.session.mg_username}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li ><a id="action-1" href="#" onmouseover="this.style.cssText='color:#000;background:transparent!important;'" onmouseout="this.style.cssText='color:#000;background:transparent!important;'">设置</a></li>
              <li ><a id="action-2" href="/sphider/index.php/home/index/index">退出</a></li>
            </ul>
          </li>
          <li>
            <a href="/sphider/index.php/home/index/index"  onmouseover="this.style.cssText='color:#fff;background:transparent!important;'" onmouseout="this.style.cssText='color:#fff;background:transparent!important;'" style="color:#fff">
           退出
          </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="content_body">
    <div id="left">
      <div class="panel-group" id="accordion">
        <div class="panel panel" onmouseover="spread('collapseOne')" onmouseout="hiding('collapseOne')">
          <div class="panel-heading" id="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
         href="#collapseOne" >
        数据来源
          </a>
           </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <a id="source_tao" href="#">淘宝</a><br/><br/>
              <a id="source_jing" href="#">京东</a>
            </div>
          </div>
        </div>
        <div class="panel panel"  onmouseover="spread('collapseTwo')" onmouseout="hiding('collapseTwo')">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion"
         href="#collapseTwo" >
        数据分析
          </a>
           </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <a id="data_per" href="#" >数据展示</a><br/><br/>
              <a id="data_line" href="#">消费分析</a>
            </div>
          </div>
        </div>

        <div class="panel panel"  onmouseover="spread('collapseThree')" onmouseout="hiding('collapseThree')">
          <div class="panel-heading">
            <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion"
            href="#collapseThree" >
           个人中心
         </a>
       </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse ">
            <div class="panel-body">
              <a href="#" id="data_info">个人信息</a><br/><br/>
              <a href="#" id="data_change">修改信息</a>
            </div>
          </div>

        </div>
        <div class="panel panel" onmouseover="spread('collapsefour')" onmouseout="hiding('collapsefour')">
          <div class="panel-heading">
            <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion"
         href="#collapsefour" >
        数据交易
      </a>
    </h4>
          </div>
          <div id="collapsefour" class="panel-collapse collapse ">
            <div class="panel-body">
              <a href="#">个人信息</a><br/><br/>
              <a href="#">修改信息</a>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div id="right">

    </div>
    </div>
<script>
    $("#source_tao").click(function() {
        $("#right").load("/sphider/home/show/show_taobao.html");
    })

    $(document).ready(function()
    {
        $("#right").load("/sphider/home/show/show_taobao.html");
    })

    $("#source_jing").click(function() {
        $("#right").load("/sphider/home/show/show_jing.html");
    })

    $("#data_per").click(function() {
        $("#right").load("/sphider/home/per/per.html");
    })

    $("#data_line").click(function() {
        $("#right").load("/sphider/home/per/line.html");
    })

    $("#data_info").click(function()
    {
        $("#right").load("/sphider/home/person/showinfo.html");
    })

</script>
</body>

</html>
